<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="sonar-read-more">
    <template>
        <style>
            :host {
                display: block;
            }

            :host #container {
                height: auto;
                max-height: none;
                display: inline-block;
                overflow: hidden;
            }

            :host *[hidden] {
                display: none;
            }
        </style>

        <span id="container" style$="height: [[_containerHeight]]px">
            <slot id="containerSlot"></slot>
        </span>

        <span class="more-toggle" hidden$="[[!_moreVisible(opened, _expandedHeight, _collapsedHeight)]]">
            <slot id="moreSlot" name="more-toggle">
                <a href="#" on-click="show">More</a>
            </slot>
        </span>

        <span class="less-toggle" hidden$="[[!opened]]">
            <slot name="less-toggle">
                <a href="#" on-click="hide">Less</a>
            </slot>
        </span>
    </template>

    <script>
        /**
         * `sonar-read-more`
         * Element to expand and collapse long blocks of text
         * with &#34;Read more&#34; and &#34;Close&#34; links
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class SonarReadMore extends Polymer.Element {

            static get is() {
                return "sonar-read-more";
            }

            static get properties() {
                return {
                    opened: {
                        type: Boolean,
                        value: false,
                        notify: true,
                        reflectToAttribute: true
                    },

                    height: {
                        type: Number,
                        value: 0,
                        observer: "_onHeightChanged"
                    },

                    _containerHeight: {
                        type: Number,
                        computed: "_getContainerHeight(opened, _expandedHeight, _collapsedHeight)"
                    },

                    _collapsedHeight: {
                        type: Number,
                        value: 0
                    },

                    _expandedHeight: {
                        type: Number,
                        value: 0
                    }
                };
            }

            static get listeners() {
                return {
                    "iron-resize": "_onIronResize"
                }
            }

            connectedCallback() {
                super.connectedCallback();

                const boundHandler = this._setBoxHeights.bind(this);

                this.$.containerSlot.addEventListener("slotchange", boundHandler);
                this.$.moreSlot.addEventListener("slotchange", boundHandler)
            }

            show() {
                this.opened = true;
            }

            hide() {
                this.opened = false;
            }

            _setBoxHeights() {
                const expandedHeight = this._getExpandedHeight();
                const toggleHeight = this._getMoreToggleHeight();

                const collapsedHeight = expandedHeight < this.height ?
                    expandedHeight : this.height - toggleHeight;


                this.setProperties({
                    _expandedHeight: expandedHeight,
                    _collapsedHeight: collapsedHeight
                })
            }

            _getExpandedHeight() {
                const slotElements = this.$.containerSlot.assignedNodes();
                const element = document.createElement("span");

                slotElements.forEach(slotElement => {
                    const node = slotElement.cloneNode(true);
                    element.appendChild(node);
                });

                element.style = this.$.container.style;
                element.style.visibility = "hidden";
                element.style.position = "absolute";
                element.style.width = this._getWidth(this.$.container) + "px";

                this.parentElement.appendChild(element);
                const height = this._getHeight(element);
                this.parentElement.removeChild(element);

                return height;
            }

            _getMoreToggleHeight() {
                const moreToggle = this.shadowRoot.querySelector(".more-toggle");
                
                return this._getHeight(moreToggle);
            }

            _getContainerHeight(opened, expandedHeight, collapsedHeight) {
                return opened ? expandedHeight : collapsedHeight;
            }

            _moreVisible(opened, expandedHeight, collapsedHeight) {
                const overflow = expandedHeight > collapsedHeight;

                return overflow && !opened;
            }

            _getHeight(element) {
                return element.clientHeight ||
                    element.offsetHeight || element.scrollHeight;
            }

            _getWidth(element) {
                return element.clientWidth ||
                    element.offsetWidth || element.scrollWidth;
            }

        }

        window.customElements.define(SonarReadMore.is, SonarReadMore);
    </script>
</dom-module>
